[submodule "statechannels"]
	path = statechannels
	url = https://github.com/stonecoldpat/statechannels.git
[submodule "raiden"]
	path = raiden
	url = https://github.com/PISAresearch/raiden
[submodule "raiden-contracts"]
	path = raiden-contracts
	url = https://github.com/PISAresearch/raiden-contracts
