version: 2.1
orbs:
  codecov: codecov/codecov@1.0.4
jobs:
  build:
    working_directory: ~/test
    docker:
      - image: circleci/node:11.9.0
    steps:
      - checkout
      - run:
          name: install
          command: npm install
      - run:
          name: bootstrap
          command: npm run bootstrap
      - run:
          name: install raiden deps
          command: cd raiden_demo/raiden-pisa-daemon && npm install
      - run:
          name: build pisa
          command: npm run build
      - run:
          name: install parity
          command: bash <(curl https://get.parity.io -L) -r stable
      - run:
          name: test unit
          command: npm run test-coverage
      - run:
          name: test externals
          command: npm run test
      - run:
          name: test raiden integration
          command: npm run test-raiden
      # - store_test_results:
      #     path: coverage
      # - store_artifacts:
      #     path: ./logs/
      # - store_artifacts:
      #     path: coverage/lcov.info
      # - store_artifacts:
      #     path: coverage/mocha/test-results.xml
      # - codecov/upload: 
      #     file: coverage/lcov.info
      #     token: 8840cab9-3613-45d2-9505-8ce7fa6c2cf7
  contract-test:
    working_directory: ~/test
    docker:
      - image: circleci/node:11.9.0
      - image: trufflesuite/ganache-cli
        command: ganache-cli --port 7545 --gasLimit 8000000
    steps:
      - checkout
      - run:
          name: install packages
          command: npm install
      - run:
          name: bootstrap
          command: npm run bootstrap
      - run:
          name: tests
          command: npm run test-contract
  integration-test:
    working_directory: ~/test
    machine:
      image: circleci/classic:201808-01
    steps:
      - checkout
      - run: 
          name: build docker
          command: docker build --target deploy -t pisaresearch/pisa:$CIRCLE_BRANCH -f docker/app.Dockerfile .
      - run: 
          name: push docker
          command: |
              echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin
              docker push pisaresearch/pisa:$CIRCLE_BRANCH
      - run:
          name: Install node@11.14.0
          command: |
            # https://discuss.circleci.com/t/how-to-change-node-version-in-circleci-2-0/17455/3
            set +e
            curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.33.5/install.sh | bash
            export NVM_DIR="/opt/circleci/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
            nvm install v11.14.0
            nvm alias default v11.14.0
            
            # Each step uses the same `$BASH_ENV`, so need to modify it
            echo 'export NVM_DIR="/opt/circleci/.nvm"' >> $BASH_ENV
            echo "[ -s \"$NVM_DIR/nvm.sh\" ] && . \"$NVM_DIR/nvm.sh\"" >> $BASH_ENV
      - run:
          name: install
          command: npm i -D lerna@3.18.3
      - run:
          name: bootstrap
          command: npm run bootstrap
      - run:
          name: test
          command: TAG_NAME=$CIRCLE_BRANCH npm run test-integration
      - store_artifacts:
          path: ./logs/
      - store_artifacts:
          path: ./test/integration/remote/logs/
  build-tag:
    working_directory: ~/test
    machine:
      image: circleci/classic:201808-01
    steps:
      - checkout
      - run: 
          name: build docker
          command: docker build --target deploy -t pisaresearch/pisa:$CIRCLE_TAG -f docker/app.Dockerfile .
      - run: 
          name: push docker
          command: |
              echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin
              docker push pisaresearch/pisa:$CIRCLE_TAG
workflows:
  version: 2
  build:
    jobs:
      - build
      - contract-test
      - integration-test
      - build-tag:
          filters:
            tags:
              only: /v.*/
            branches:
              ignore: /.*/